.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #575555;
  text-align: center;
  margin-top: 30vh;
}

.logo-footer {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}