.top-page-header {
  width: 100vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  background-image: image-url("header-background-image.jpg");
  background-size: cover;
}

.top-page-header a {
  color: aliceblue;
}

.top-page-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  width: 10vw;
  margin-left: 15vw;
  margin-top: 20px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vh 15vw;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
}

.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
}

.sign-up {
  text-decoration: none;
}