<%= render "shared/header" %>
<h2 class="users-list-header">ユーザー一覧</h2>
<ul class="users-list">
  <% @users.each do |user| %>
    <li class="user-list-item"> 
      <%= user.nickname %>
      <%= link_to 'follow', followings_path(following_user: user.id), method: :post, class: 'follow-button' %>
    </li>
  <% end %>
</ul>

<%= render "shared/footer" %>