<%= render "shared/header" %>
<% if user_signed_in? %>
  <div class="create-room-wrapper">
    <%= link_to 'イベントの作成', new_room_path %>
  </div>
<% end %>

<div class="event-wrapper">
  <p>イベント一覧</p>
  <%= render partial: 'room_index', locals: {rooms: @rooms} %>
</div>

<%= render "shared/footer" %>