// Place all the styles related to the followings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#followed-button {
  position: absolute;
  right: 64%;
  text-decoration: none;
  color: white;
  background-color: rgb(121, 122, 115);
  padding: 0 10px;
  border-radius: 10px;
  width: 140px;
  text-align: center;
}

.hidden {
  display: none;
}


.following-users-list {
  margin: 20px 50px;
  background-color: rgb(245, 234, 221);
  width: 750px;
  padding: 10px 0;
  position: relative;
  .following-user-list-item {
    margin: 15px 20px;
    padding: 10px;
    background-color: rgb(241, 207, 165);
    border-radius: 5px;
  }
}