// Place all the styles related to the followings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.followed-button {
  position: absolute;
  right: 64%;
  text-decoration: none;
  color: white;
  background-color: rgba(121, 122, 115, 0.7);
  padding: 0 10px;
  border-radius: 10px;
  width: 140px;
  text-align: center;
}

.hidden {
  display: none;
}

.following-users-list {
  margin: 20px 0;
  width: 950px;
  list-style: none;
  position: relative;
  .following-user-list-item {
    padding: 15px 15px 15px 40px;
    background: -moz-linear-gradient(top left, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    background: -webkit-linear-gradient(top left, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    background: linear-gradient(to bottom right, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    a {
      text-decoration: none;
      color: rgb(104, 195, 197);
    }
    .followed-button {
      color: white;
    }
    .added-following-tag {
      display: inline-block;
      position: absolute;
      left: 38%;
      .following-tag-item {
        background-color: rgba(154, 205, 50, 0.6);
        border-radius: 6px;
        padding: 3px 6px;
        font-size: 12px;
        display: inline-block;
        margin-right: 3px;
        border: 1px solid rgb(154, 205, 50);
      }
    }
  }
  .container {
    position: relative;
    .to-following-show-btn {
      font-size: 0.8em;
      background-color: rgba(25, 135, 84, 0.8);
      color: honeydew;
      position: absolute;
      top: 10%;
      right: 13%;
    }
  }
}

.create-following-tag-form {
  margin: 15px 70px;
}

.field_with_errors {
  display: contents;
}

.following_user_searching_tag {
  background-color: rgba(154, 205, 50, 0.6);
  border-radius: 6px;
  padding: 6px 12px 6px 6px;
  border: 1px solid rgb(154, 205, 50);
}