// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-room-wrapper {
  margin: 50px;
  width: 18rem;
  background-color: rgb(236, 231, 203);
}

.event-search-form {
  background: rgba(255, 255, 255, 0.6);
}

.form-intermediate-item {
  text-align: center;
  margin: auto 0;
}