// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-room-wrapper {
  margin: 50px;
  height: 200px;
  width: 200px;
  background-color: rgb(158, 190, 238);
  display: flex;
  a {
    margin: auto;
  }
}