// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-message-wrapper {
  width: 60vw;
  margin: 20px 5vw;
  background-color: rgb(176, 171, 202);
  padding: 15px;
  .room-message-list {
    margin: 10px;
    li {
      margin: 7px 0;
      padding: 5px;
      div {
        background-color: rgb(218, 193, 218);
        margin-left: 5px;
        padding-left: 5px;
        border-radius: 3px;
      }
    }
    
  }
  .room-message-form {
    margin: 10px;
  }
}