// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-message-wrapper {
  width: 60vw;
  margin: 20px 5vw;
  background-color: rgb(176, 171, 202);
  padding: 15px;
  .room-message-list {
    margin: 10px;
    li {
      margin: 7px 0;
      padding: 5px;
      div {
        background-color: rgb(218, 193, 218);
        margin-left: 5px;
        padding-left: 5px;
        border-radius: 3px;
        position: relative;
        a {
          position: absolute;
          right: 5%;
        }
      }
    }
    
  }
  .room-message-form {
    margin: 10px;
  }
}

.room-good-wrapper {
  margin: 20px 5vw;
  background-color: cadetblue;
  color: aliceblue;
  width: 60vw;
  padding: 15px;
  position: relative;
  li {
    margin: 7px;
    a {
      color: aliceblue;
    }
    .room-allow-button {
      background-color: aliceblue;
      color: cadetblue;
      position: absolute;
      right: 5%;
      padding: 5px;
    }
  }
  .good-delete-button {
    color: aliceblue;
    position: absolute;
    right: 5%;
  }
}

.room-good-form {
  margin: 20px 5vw;
  background-color: cadetblue;
  color: aliceblue;
  width: 60vw;
  padding: 15px;
  input {
    margin: 7px;
  }
}