// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-message-wrapper {
  width: 60vw;
  margin: 20px 5vw;
  background-color: rgb(176, 171, 202);
  padding: 15px;
  .room-message-list {
    margin: 10px;
    li {
      margin: 7px 0;
      padding: 5px;
      div {
        background-color: rgb(218, 193, 218);
        margin-left: 5px;
        padding-left: 5px;
        border-radius: 3px;
        position: relative;
        a {
          position: absolute;
          right: 5%;
        }
      }
    }
    
  }
  .room-message-form {
    margin: 10px;
  }
}

.room-good-wrapper {
  margin: 20px 5vw;
  background-color: cadetblue;
  color: aliceblue;
  width: 60vw;
  padding: 15px;
  position: relative;
  ul {
    list-style: none;
  }
  li {
    margin: 7px;
    .room-allow-button {
      background-color: aliceblue;
      color: cadetblue;
      position: absolute;
      right: 5%;
      padding: 5px;
    }
    .good-user-link {
      color: aliceblue;
      position: absolute;
      right: 12%;
      padding: 5px;
      text-decoration: none;
    }
  }
  .good-delete-button {
    color: cadetblue;
    background-color: aliceblue;
    position: absolute;
    right: 5%;
    padding: 5px;
    bottom: 9px;
  }
}

.room-good-form {
  margin: 20px 5vw;
  background-color: cadetblue;
  color: aliceblue;
  width: 60vw;
  padding: 15px;
  input {
    margin: 7px;
  }
}

/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 30vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 4;   /* マスクより上に重なるようにする */
  width: 500px;   /* showビューの幅に合わせて設定 */
  background-color: whitesmoke;
  color: black;
  padding: 40px;
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  .modal-explanation-wrapper {
    margin: 0 auto;
    width: 400px;
  }
  .allow-confirm-button {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: auto;
    div {
      background-color: rgb(160, 160, 238);
      padding: 10px;
      width: 180px;
      margin: 35px 10px 0 10px;
      text-align: center;
      font-size: 15px;
      a {
        text-decoration: none;
        color: black;
        display: block;
      }
    }
  }
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}