// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-list-header {
  font-size: 25px;
  margin-top: 40px;
  margin-left: 20%;
  #remove-follow{
    margin-left: 15px;
  }
  label {
    font-size: 12px;
  }
}

.users-list {
  margin: 25px auto;
  width: 450px;
  position: relative;
  list-style: none;
  .user-list-item {
    padding: 15px 15px 15px 40px;
    background: -moz-linear-gradient(top left, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    background: -webkit-linear-gradient(top left, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    background: linear-gradient(to bottom right, rgba(104, 195, 197, 0), rgba(104, 195, 197, 0.4));
    a {
      text-decoration: none;
      color: rgb(104, 195, 197);
    }
    .follow-button {
      position: absolute;
      display: inline-block;
      right: 40%;
      text-decoration: none;
      background-color: rgba(247, 103, 239, 0.7);
      padding: 0 10px;
      border-radius: 10px;
      width: 90px;
      text-align: center;
      color: white;
    }
    .already-follow-button {
      position: absolute;
      display: inline-block;
      right: 40%;
      text-decoration: none;
      background-color: rgba(121, 122, 115, 0.7);
      padding: 0 10px;
      border-radius: 10px;
      width: 90px;
      text-align: center;
      color: white;
    }
  }
  .container {
    position: relative;
    .to-following-show-btn {
      font-size: 0.8em;
      background-color: rgba(25, 135, 84, 0.8);
      color: honeydew;
      position: absolute;
      top: 10%;
      right: 5%;
    }
  }
}

.users-list-image-wrapper {
  background-image:image-url('Viking.jpeg');
  background-size: cover;
  .users-list-image {
    background: rgba(255, 255, 255, 0.9);
  }
  .users-list-image2 {
    background: rgba(255, 255, 255, 0.4);
  }
}

.event-wrapper {
  background-image: image-url('flowers-decorating-the-centerpieces-with-luxury-cutlery-on-the-tables-of-a-wedding-hall');
  background-size: cover;
  .event-wrapper-second {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    ul {
      li {
        padding: 1px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      }
      .event-list-item1 {
        background-color: rgb(156, 186, 241);
        .card {
          background-image: image-url('list-item-background.jpeg');
        }
      }
      .event-list-item2 {
        background-color: rgb(233, 156, 241);
        .card {
          background-image: image-url('list-item-background2.jpeg');
        }
      }
    }
  }
}