// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-list-header {
  font-size: 25px;
  margin-left: 35px;
  #remove-follow{
    margin-left: 15px;
  }
  label {
    font-size: 12px;
  }
}

.users-list {
  margin: 20px 50px;
  background-color: rgba(104, 195, 197, 0.3);
  width: 370px;
  padding: 20px;
  position: relative;
  list-style: none;
  .user-list-item {
    margin: 15px 20px;
    padding: 10px;
    background: -moz-linear-gradient(top, #fff, rgba(104, 195, 197, 0.5));
    background: -webkit-linear-gradient(top, #fff, rgba(104, 195, 197, 0.5));
    background: linear-gradient(to bottom, #fff, rgba(104, 195, 197, 0.5));
    border-radius: 5px;
  }
  .follow-button {
    position: absolute;
    display: inline-block;
    right: 15%;
    text-decoration: none;
    color: white;
    background-color: rgba(247, 103, 239, 0.7);
    padding: 0 10px;
    border-radius: 10px;
    width: 90px;
    text-align: center;
  }
  .already-follow-button {
    position: absolute;
    display: inline-block;
    right: 15%;
    text-decoration: none;
    color: white;
    background-color: rgba(121, 122, 115, 0.7);
    padding: 0 10px;
    border-radius: 10px;
    width: 90px;
    text-align: center;
  }
}

.users-list-image-wrapper {
  background:url(assets/Viking.jpeg);
  background-size: cover;
  .users-list-image {
    background: rgba(255, 255, 255, 0.9);
  }
  .users-list-image2 {
    background: rgba(255, 255, 255, 0.4);
  }
}

.event-wrapper {
  background-image: url(assets/flowers-decorating-the-centerpieces-with-luxury-cutlery-on-the-tables-of-a-wedding-hall);
  background-size: cover;
  .event-wrapper-second {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    ul {
      li {
        padding: 1px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      }
      .event-list-item1 {
        background-color: rgb(156, 186, 241);
        .card {
          background-image: url(assets/list-item-background.jpeg);
        }
      }
      .event-list-item2 {
        background-color: rgb(233, 156, 241);
        .card {
          background-image: url(assets/list-item-background2.jpeg);
        }
      }
    }
  }
}